.container {
  background-color: white;
  font-weight: 300;
  padding-top: 56px;
  border-radius: 5px;
  text-align: center;
  color: #adaeb9;
  display: block;
  color: inherit;
  font-family: "맑은 고딕", "돋움", "Apple SD Gothic Neo", sans-serif;
}

.sectionBox {
  margin: 8px auto 10px auto;
  width: 1400px;
  border: 1px solid #313131;
  box-sizing: border-box;
  border-radius: 10px;
  display: block;
}

.quizlisting {
  list-style: none;
  display: flex;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.quizItem {
  position: relative;
  display: list-item;
  flex-direction: row;
  margin: 8px 0 0 8px;
  width: 200px;
  height: 200px;
  border-radius: 2px;
}

.graphImg {
  margin-top: 50px;
  width: 500px;
  height: 300px;
}

.quizListImg {
  position: relative;
  border-radius: 18px;
  width: 120px;
  height: 120px;
  display: inline-block;
}

.createQuizBtn {
  position: relative;
  color: #f5f5f5;
  background-color: #7f92ce;
  padding-right: 12px;
  padding-left: 12px;
  margin-bottom: 35px;
  border-radius: 10px;
  line-height: 50px;
  font-size: 15px;
}
